*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
#main{
	width: 1080px;
	margin: 0 auto;
}
#main #nav,#main h1{
	text-align: center;
}
#main #nav{
	background-color: antiquewhite;
}
#main #nav li{
	cursor: pointer;
	float: left;
	width: 33.3%;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
}
#main #nav li:first-child{
	background-color: aquamarine;
}
#main #nav li:hover{
	background-color: aquamarine;
}
.chearfix:before,.chearfix:after{
	display: table;
	content: "";
	clear: both;
}
#main #dispaly{
	background-color: cornsilk;
	height: 600px;
	position: relative;
}
#main #dispaly #demo1{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 50%;
	margin: auto;
	height: 50%;
	overflow-y: scroll;
}

/* demo1 */
#demo1 dl {
  margin: 0;
  padding: 24px 0 0 0;
}

#demo1 dt {
  background: red;
  border-bottom: 1px solid #989EA4;
  border-top: 1px solid #717D85;
  color: #FFF;
  font: bold 18px/21px Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 2px 0 0 12px;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
}

dd {
  font: bold 20px/45px Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0 0 0 12px;
  white-space: nowrap;
  border-top: 1px solid #CCC
}
/* demo2 */
#demo2{
	width: 800px;
	background-color: chocolate;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%,-50%,0);
	text-align: center;
	overflow-x: scroll;
}
#demo2 table{
	width: 1000px;
	border-collapse: collapse;
}
#demo2 table tr{
	height: 50px;
	line-height: 50px;
}
#demo2 table tr th,#demo2 table tr td{
	border: 1px solid black;
	min-width: 100px;
}
/* 布局 */
#demo2 table tr th:last-child,
#demo2 table tr td:last-child{
	position: sticky;
	right: 0px;
	background-color: cornflowerblue;
	box-shadow: -10px 5px 10px black;
}
#demo2 table tr th:nth-child(1),
#demo2 table tr td:nth-child(1)
{
	position: sticky;
	left: 0px;
	background-color: #FFFFFF;
}
#demo2 table tr th:nth-child(2),
#demo2 table tr td:nth-child(2){
	position: sticky;
	left: 100.8px;
	background-color: #FFFFFF;
	box-shadow: 10px 5px 10px black;
}
/*demo3 */
#demo3 {
	width: 800px;
	height: 500px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%,-50%,0);
	text-align: center;
	overflow-y: scroll;
}
#demo3 #D_header,#demo3 #D_footer{
	height: 50px;
	position: sticky;
	line-height: 50px;
	background-color: #6495ED;
}
#demo3 #D_header{
	top: 0px;
}
#demo3 #D_footer{
	top: 450px;
}
#demo3 #D_content{
	height: 400px;
}